In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')

In [3]:
data.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
plt.figure(figsize = (20,6))
sns.pairplot(data = data,hue='Purchased')
plt.show()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
la = LabelEncoder()

In [ ]:
la.fit(data['Gender'])

In [ ]:
data['Gender'] = la.transform(data['Gender'])

In [ ]:
data.head()

In [ ]:
data = data.iloc[:,1:]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
x = data.iloc[:,:-2]
y = data['EstimatedSalary']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
lo = LogisticRegression()

In [ ]:
lo.fit(x_train,y_train)

In [ ]:
lo.score(x_test,y_test)

In [ ]:
x